
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@600&display=swap');

:root {
    --primary-color: #4825d4;
    --accent-color: #0CFFE1;
    --page-color: #090A0B;
    --element-color: #181B1D;
    --time-range-hover-color: #C2C2C2;
    --time-range-color: #252A2D;
}

/* --- index aka home page --- */

body#index-page {
    background-image: url("img/indexBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Lato';
}

.landing-page {
    margin-top: 150px;
    text-align: center;
    vertical-align: middle;
}

.web-app-name {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'League Spartan';
}

.log-in-out-button {
    background-color: transparent;
    border: 0.15em solid white;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    padding: 0.6em 1.3em;
    border-radius: 10px;
}

.log-in-out-button:hover {
    color: black;
    background-color: white;
}

.subhead {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 80px;
    color: grey;
    letter-spacing: 0.3em;
}

/* --- favourites page --- */

body#favourites {
    background-color: var(--page-color);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lato';
}

/* nav bar */

.navbar {
    background-color: transparent;
    padding-top: 25px; 
    padding-left: 10px;
    padding-right: 10px;
}

#spotify-logo-item {
    margin-right: 25px;
}

.nav-bar-web-app-name {
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'League Spartan';
}

.spotify-logo {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.nav-bar-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    padding: 5px;
}

.nav-bar-button:hover {
    background-color: white; 
    border-radius: 10px;
    color: black; 
    font-weight: bold;
    font-size: 10pt;
    padding: 5px;
}

/* header for profile */

.profile-header {
    justify-content: start;
    margin: 30px 20px 30px;
    align-items: center; 
}

.profile-image {
    margin-right: 20px;
}

.rounded-circle {
    width: 100px;
    height: 100px;
}

.user-profile-text {
    color: white;
    font-size: 25px; 
}

/* items title + time range buttons */ 

.item-title-container {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.top-items-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    padding: 5px;
}

.time-range-menu input[type = "radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.time-range-menu label {
    background-color: transparent;
    outline: none;
    color: var(--time-range-hover-color);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 5px;
}

.time-range-menu input[type = "radio"]:checked + label {
    background-color: var(--time-range-color);
    color: white;
    cursor: pointer;
}

.time-range-menu label:hover {
    color: white;
    cursor: pointer;
}

/* top artists */

.content-element {
    background-color: var(--element-color);
    padding: 15px;
    border-radius: 25px;
    margin: 20px;
}

#artist-card {
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-text {
    color: white;
}

/* top tracks */

.table {
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0;
}

.rank {
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

.track-image-cell {
    text-align: center;
}

.track-image {
    max-width: 60px;
    width: 60px;
    width: auto;
}

.track-and-artist-name {
    vertical-align: middle;
}

#track-name {
    color: white;
    font-weight: bold;
}

#artist-name {
    color: grey;
}

/* top genres + top decades charts */

 .chart {
    min-height: 300px;
 }

#genre-card {
    background-color: transparent;
    border-color: transparent;
}

#decade-card {
    background-color: transparent;
    border-color: transparent;
}

 #genresBarChart {
    display: block;
 }

 #decadesDoughnutChart {
    display: block;
    padding-bottom: 10px;
 }





