
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@600&display=swap');

:root {
    --nav-bar-color: #090A0B;
    --primary-color: #4825d4;
    --accent-color: #0CFFE1;
    --page-color: #131516;
    --element-color: #1E2224;
    --time-range-hover-color: #CCCCCC;
    --time-range-color: #2E3438;
}

/* --- index aka home page --- */

body#index-page {
    background-image: url("img/indexBackground.png");
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lato';
}

.landing-page {
    margin-top: 150px;
    text-align: center;
    vertical-align: middle;
}

.web-app-name {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'League Spartan';
}

.log-in-out-button {
    background-color: transparent;
    border: 0.15em solid white;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    padding: 0.6em 1.3em;
    border-radius: 10px;
}

.log-in-out-button:hover {
    color: black;
    background-color: white;
}

.subhead {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 80px;
    color: grey;
    letter-spacing: 0.3em;
}

/* --- favourites page --- */

/* nav bar */

.navbar {
    background-color: transparent;
    margin: 20px;
}

.nav-bar-web-app-name {
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'League Spartan';
}

.spotify-redirect-link {
    text-decoration: none;
    padding-right: 15px;
    border-right: 2px solid red;
}

.spotify-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.spotify-logo-text {
    color: white;
    font-weight: bold;
    font-size: 14px;
}



.nav-bar-button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    /* padding: 0.6em 1.3em; */
    color: white;
    font-size: 10pt;
    font-weight: bold;

}

.nav-bar-button:hover {
    border: 1px solid white;
    /* padding: 0.6em 1.3em; */
    border-radius: 10px;
    /* color: black;
    background-color: white; */
}

/* header for profile */

body#favourites {
    background-color: var(--page-color);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lato';
}

.header-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10px 30px;
}

.profile-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-image {
    margin-right: 20px;
}

.rounded-circle {
    width: 100px;
    height: 100px;
}

.user-profile-text {
    color: white;
    font-size: 25px; 
}

/* log-out button */

.log-out-container {
    align-items: center;
}

/* #log-out {
    font-size: 10pt;
} */

/* top artists */

.content-element {
    background-color: var(--element-color);
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 40px;
}

.item-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.top-items-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    padding: 10px;
}

.card {
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.card-text {
    color: white;
}

/* time range buttons */

.time-range-menu input[type = "radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.time-range-menu label {
    background-color: transparent;
    outline: none;
    color: var(--time-range-hover-color);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 5px;
}

.time-range-menu input[type = "radio"]:hover {
    background-color: yellow;
} 

.time-range-menu input[type = "radio"]:checked + label {
    background-color: var(--time-range-color);
    color: white;
    cursor: pointer;
}

.time-range-menu label:hover {
    color: white;
    cursor: pointer;
}

/* top tracks */

/* testin */
/* .content-element#track-section {
    margin-left: 180px;
    margin-right: 180px;
} */


.table {
    margin: 0 auto;
    width: 80%; 
    font-size: 14px;
}

.rank {
    color: white;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
}

.track-image-cell {
    text-align: center;
}

.track-image {
    max-width: 80px;
    width: 80px;
    width: auto;
}

.track-and-artist-name {
    vertical-align: middle;
}

#track-name {
    color: white;
    font-weight: bold;
}

#artist-name {
    color: grey;
}

/* top genres */

/* .chartBox {
    /* width: 600px;   */
    /* text-align: center; 
} 

.doughnutBox {
    /* text-align: center; 
}
 */

 .chart {
    width: 70%;
    /* margin: 20px auto; */
 }


