<!doctype html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">
  <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin = "anonymous">
  <link rel = "stylesheet" href = "/static/custom.css">
  <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src = "/static/scripts.js" defer></script>
  <title>Your Favourites</title>
  </head>

  <body id = "favourites">

    <div class = "main-container container">

        <!-- user profile -->
        <div class = "d-flex profile-header">
            <div class = "profile-image">
                <img src = {{userProfile.profile_image}} class = "rounded-circle" alt = "User Profile Image">
            </div>
            <div class = "user-profile-text"">{{userProfile.display_name}}'s favourites</div>
        </div>

        <!-- top artists -->
        <section class = "content-element">

            <div class = "d-flex item-title-container">
        
                <div class = "top-items-title">Top Artists</div>
                
                <div class = "time-range-menu" id = "artist-buttons">
                    <input type = "radio" name = "artist-time-ranges" id = "artist-short-term" value = "short-term-button" checked>
                    <label for = "artist-short-term"">Past 4 weeks</label>
                    
                    <input type = "radio" name = "artist-time-ranges" id = "artist-medium-term" value = "medium-term-button">
                    <label for = "artist-medium-term">Past 6 months</label>
            
                    <input type = "radio" name = "artist-time-ranges" id = "artist-long-term" value = "long-term-button">
                    <label for = "artist-long-term">All time</label>
                </div>
        
            </div>

            <div class = "container" id = "top-artists-container">
                <div class = "row">
                    {% for artist in userTopArtists %}
                    <div class = "col">
                        <div class = "card" id = "artist-card">
                            <img src = {{artist.artist_images[0].url}} class = "card-img-top" id = "artist-img" alt = "Artist Image">
                            <div class = "card-body" id = "artist-text">
                                <p class = "card-text">{{artist.artist_name}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>  
            </div>

        </section>

        <!-- top tracks, top genres, and top decades -->
        <div class = "container">
            <div class = "row">
                <!-- top tracks -->
                <div class = "col-sm-12 col-md-12 col-lg-6 p-0">
                    <section class = "content-element" id = "top-tracks">
                        <div class = "d-flex item-title-container">
                            <div class = "top-items-title">Top Tracks</div>
                            <div class = "time-range-menu" id = "track-buttons">
                                <input type = "radio" name = "track-time-ranges" id = "track-short-term" value = "short-term-button" checked>
                                <label for = "track-short-term"">Past 4 weeks</label>
                                
                                <input type = "radio" name = "track-time-ranges" id = "track-medium-term" value = "medium-term-button">
                                <label for = "track-medium-term">Past 6 months</label>
                        
                                <input type = "radio" name = "track-time-ranges" id = "track-long-term" value = "long-term-button">
                                <label for = "track-long-term">All time</label>
                            </div>
                        </div>

                        <div class = "table" id = "tracks-table"> 
                            <table class = "table table-hover table-border-bottom">
                                <tbody id = "tracks-table-body">
                                    {% for track in userTopTracks %}
                                    <tr>
                                        <td class = "rank">{{loop.index}}</td>
                                        <td class = "track-image-cell">
                                            <img src = {{track.track_images[0].url}} class = "track-image" alt = "Track Image">
                                        </td>
                                        <td class = "track-and-artist-name"> 
                                            <div class = "container">
                                                <div class = "row">
                                                    <div class = "col-xs-6" id = "track-name">{{track.track_name}}</div>
                                                    <div class = "col-xs-6" id = "artist-name">{{track.artist_name}}</div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </section>
                </div>

                <!-- top genres and decades -->
                <div class = "col-sm-12 col-md-12 col-lg-6">
                    <div class = "row">
                        <!-- top genres -->
                        <div class = "col-sm-12 col-md-12 col-lg-12 p-0">
                            <section class = "content-element">
                                <div class = "card" id = "genre-card">
                                    <div class = "card-body p-0">

                                        <div class = "d-flex item-title-container">
                                            <div class = "top-items-title">Top Genres</div>
                                            <div class = "time-range-menu" id = "genre-buttons">
                                                <input type = "radio" name = "genre-time-ranges" id = "genre-short-term" value = "short-term-button" checked>
                                                <label for = "genre-short-term"">Past 4 weeks</label>
                                                
                                                <input type = "radio" name = "genre-time-ranges" id = "genre-medium-term" value = "medium-term-button">
                                                <label for = "genre-medium-term">Past 6 months</label>
                                        
                                                <input type = "radio" name = "genre-time-ranges" id = "genre-long-term" value = "long-term-button">
                                                <label for = "genre-long-term">All time</label>
                                            </div>
                                        </div>

                                        <div class = "container chart">
                                            <canvas id = "genresBarChart"></canvas>
                                        </div>
                                    
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- top decades -->
                        <div class = "col-sm-12 col-md-12 col-lg-12 p-0">
                            <section class = "content-element">
                                <div class = "card" id = "decade-card">
                                    <div class = "card-body p-0">

                                        <div class = "d-flex item-title-container">
                                            <div class = "top-items-title">Top Decades</div>
                                            <div class = "time-range-menu" id = "decade-buttons">
                                                <input type = "radio" name = "decade-time-ranges" id = "decade-short-term" value = "short-term-button" checked>
                                                <label for = "decade-short-term"">Past 4 weeks</label>
                                                
                                                <input type = "radio" name = "decade-time-ranges" id = "decade-medium-term" value = "medium-term-button">
                                                <label for = "decade-medium-term">Past 6 months</label>
                                        
                                                <input type = "radio" name = "decade-time-ranges" id = "decade-long-term" value = "long-term-button">
                                                <label for = "decade-long-term">All time</label>
                                            </div>
                                        </div>

                                        <div class = "container chart">
                                            <canvas id = "decadesDoughnutChart"></canvas>
                                        </div>
                                    
                                    </div>
                                </div>
                            </section>
                        </div> 
                    </div>

                </div>
            </div>

        </div>

    </div> 


  </body>

</html>

