<!doctype html>
<html lang = "en">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin = "anonymous">
    <link rel = "stylesheet" href = "/static/custom.css">
    <script src = "/static/scripts.js" defer></script>
    <title>Favourites for Spotify</title>
  </head>

    <body id = "index-page"> 
      
      <section class = "landing-page">
          <div class = "container">
              <h1 class = "web-app-name">Favourites for Spotify</h1>
              <p class = "subhead">See your favourite artists, songs, genres, and decades</p>
              <a href = {{ url_for('auth') }}><button type = "button" class = "log-in-out-button">Login with Spotify</button></a>
          </div>
      </section>

    </body>
</html>